body {
  background-color: black!important;
  font-family: monospace!important;
  color: burlywood!important;
  margin: 0;
  padding: 0;
}

.container{
  background-color: black;
  font-family: monospace;
  color: burlywood;
}

.navbar-nav {
  background-color: black;
  font-family: monospace;
  color: burlywood;
}

.nav-link-active {
  background-color: black;
  font-family: monospace;
  color: cornsilk;
}

.nav-link {
  background-color: black!important;
  font-family: monospace!important;
  color: burlywood!important;
}
   
.img-raised-rounded-circle-img-fluid {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;

}
.table {
  background-color: gray;
  font-family: monospace;
  color: burlywood;
}
.col{
  background-color: black;
  font-size: medium;
  font-family: monospace;
  color: burlywood;
}

#HarryPotter{
  color: burlywood;
}
    
