# 1. Make sure 'env' is in your '.gitignore' file
#
# 2. Copy this file and rename it 'env'
#
# 3. Change the environment variables to their true
#
# Do NOT ever include your *real* env in version

MYSQL_DATABASE=msis_triage
MYSQL_HOST=aws.servername.com
MYSQL_USERE=user_name
MYSQL_PASSWORD=password 